# Data Processing & Validation (Teammate A)
pandas
pydantic
prefect

# Data Version Control
dvc

# Machine Learning & Tracking (Teammate B)
xgboost
scikit-learn
wandb

# API
fastapi
uvicorn

python-dotenv